# LLM Extract Environment Configuration Template

# Database Configuration (change to your locations/filenames, note that Docker filesystem is different than the local filesystem)
# INTERACTION_DB_CONNECTION=sqlite:////app/databases/example_interactions.db
# LLM_CACHE_DB=/app/databases/cache.db

# Redis Configuration (these are ignored when running through docker)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
QUEUE_NAME=extraction_tasks

# Worker Configuration
WORKERS=1

# If authentication is desired, set to 1 and follow instructions in README to set a secret key
AUTH_ENABLED=0

# LLM API Configuration

# Define default model to run when extractions are requested from the UI
EXTRACTION_MODEL_ID="versa:azure/gpt-4.1-mini-2025-04-14"
# Model ID to run when generating specs
SPEC_GENERATION_MODEL_ID="versa:azure/gpt-5-mini-2025-08-07"

# Credentials for selected model
VERSA_API_KEY=your_versa_api_key_here
VERSA_ENDPOINT=https://unified-api.ucsf.edu/general
API_VERSION=2024-10-21
LLM_CACHE_DB=/app/databases/llm_cache.db # Only currently supported for Versa
# OR
# OPENAI_API_KEY=api_key
# OR (Azure OpenAI)
# AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com
# AZURE_OPENAI_API_KEY=your_key_here
# VAULT_SECRET_KEY=your_key_here
# OR (AWS Bedrock)
# AWS_ACCESS_KEY_ID=your_access_key
# AWS_SECRET_ACCESS_KEY=your_secret_key
# AWS_REGION=us-west-2
# OR
# OPTIONAL: GCP and Vertex AI configuration
# gcloud auth application-default login
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/application_default_credentials.json
# GOOGLE_GENAI_USE_VERTEXAI=true
# GOOGLE_CLOUD_PROJECT=your-gcp-project-id
# GOOGLE_CLOUD_LOCATION=us-central1
# etc.

# Maximum characters per langextract call
LX_MAX_BUF=10000